<header>
  <div>
    <a href="/">LOGO</a>
  </div>

  <nav>
    <a href="/tienda">Tienda</a>
    <a href="/contenido">Contenido</a>
    <a href="/contacto">Contacto</a>
  </nav>

  <div>
    <a href="/carrito">Carrito</a>
    <a href="/usuario">Usuario</a>
  </div>
</header>
