<nav>
  <ul>
    <li><a href="/catalogo">Hombre</a></li>
    <li><a href="/catalogo">Mujer</a></li>
    <li><a href="/novedades">Novedades</a></li>
    <li><a href="/ofertas">Ofertas</a></li>
  </ul>
</nav>
