<nav>
  <ul>
    <li><a href="/categoria/hombre">Hombre</a></li>
    <li><a href="/categoria/mujer">Mujer</a></li>
    <li><a href="/categoria/novedades">Novedades</a></li>
    <li><a href="/categoria/ofertas">Ofertas</a></li>
  </ul>
</nav>
